<div class="container mt-5">
    <div class="row">
        <div class="col-md-5 mx-auto">
            <div id="first">
                <div class="myform form ">
                    <div class="logo mb-3">
                        <div class="col-md-12 text-center">
                            <img class="img-thumbnail w-50" src="../assets/images/logo_small.png">
                        </div>
                    </div>
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Correo Electrónico:</label>
                            <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Contraseña:</label>
                            <input type="password" name="password" id="password" class="form-control" aria-describedby="emailHelp" placeholder="Enter Password">
                        </div>
                        <div class="form-group">
                            <p class="text-center">Al iniciar sesión usted acepta nuestros <a href="#">Terminos de uso</a></p>
                        </div>
                        <div class="col-md-12 text-center ">
                            <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Ingresar</button>
                        </div>
                        <div class="col-md-12 ">
                            <div class="login-or">
                                <hr class="hr-or">
                                <span class="span-or">o</span>
                            </div>
                        </div>


                        <div class="form-group">
                            <p class="text-center">No tienes cuenta? <a href="/register" id="signup">Resgitrate aquí</a></p>
                        </div>
                    </form>

                </div>
            </div>


        </div>
    </div>
</div>