<div class="container mt-5">
    <div class="row">
        <div class="col-md-5 mx-auto">

            <div id="first">
                <div class="myform form ">
                    <div class="logo mb-3">
                        <div class="col-md-12 text-center">

                            <h2>Registro de usuario</h2>
                        </div>
                    </div>
                    <form action="#" name="registration">

                        <div class="row">
                            <div class="form-group col-6">
                                <label for="exampleInputEmail1">Nombres: </label>
                                <input type="text" name="firstname" class="form-control" id="firstname" aria-describedby="emailHelp" placeholder="Enter Firstname">

                            </div>
                            <div class="form-group col-6">
                                <label for="exampleInputEmail1">Apellidos: </label>
                                <input type="text" name="lastname" class="form-control" id="lastname" aria-describedby="emailHelp" placeholder="Enter Lastname">
                            </div>
                        </div>

                        <div class="row">

                            <div class="form-group col-6">
                                <label>Tipo de documento:</label>
                                <select name="DocType" class="form-control">
                                <option value ="1">Cedula de ciudadanía</option>
                                <option value ="2">Cedula de extrangería</option>
                                <option value ="3">Tarjeta de identidad</option>
                                <option value ="4">pasaporte</option>
                              </select>
                            </div>
                            <div class="form-group col-6">
                                <label># Documento: </label>
                                <input type="text" name="DocNumber" class="form-control" id="DocNumber" placeholder="Enter document number">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Correo Electrónico</label>
                            <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <div class="row">
                            <div class="form-group col-6">

                                <label for="exampleInputEmail1">Contraseña</label>
                                <input type="password" name="password" id="password" class="form-control" aria-describedby="emailHelp" placeholder="Enter Password">

                            </div>
                            <div class="form-group col-6">
                                <label for="exampleInputEmail1">Confirmar contraseña</label>
                                <input type="password" name="password" id="password" class="form-control" aria-describedby="emailHelp" placeholder="Enter Password">

                            </div>
                        </div>


                        <div class="col-md-12 text-center mb-3">
                            <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm mt-4">Registrarse</button>
                        </div>
                        <div class="col-md-12 ">
                            <div class="form-group">
                                <p class="text-center"><a href="/login" id="signin">ya tienes cuenta?</a></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>