<div class="container mt-5">
    <div class="logo mb-3">
        <div class="col-md-12">

            <h2 style="color:orangered">Generos</h2>
        </div>
    </div>
    <table class="table">
        <thead class="table-header" style="background-color:whitesmoke">
            <tr style="color:gray">
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr style="color:whitesmoke">
                <th scope="row">1</th>
                <td>Terror</td>
                <td><button class="btn btn-success"> Editar</button> / <button class="btn btn-danger"> Eliminar</button></td>
            </tr>
            <tr style="color:whitesmoke">
                <th scope="row">2</th>
                <td>Drama</td>
                <td><button class="btn btn-success"> Editar</button> / <button class="btn btn-danger"> Eliminar</button></td>
            </tr>
            <tr style="color:whitesmoke">
                <th scope="row">3</th>
                <td>Comedia</td>
                <td><button class="btn btn-success"> Editar</button> / <button class="btn btn-danger"> Eliminar</button></td>
            </tr>
            <tr style="color:whitesmoke">
                <th scope="row">4</th>
                <td>Acción</td>
                <td><button class="btn btn-success"> Editar</button> / <button class="btn btn-danger"> Eliminar</button></td>
            </tr>
            <tr style="color:whitesmoke">
                <th scope="row">5</th>
                <td>Ciencia Ficción</td>
                <td><button class="btn btn-success"> Editar</button> / <button class="btn btn-danger"> Eliminar</button></td>
            </tr>
            <tr style="color:whitesmoke">
                <th scope="row">6</th>
                <td>Aventura</td>
                <td><button class="btn btn-success"> Editar</button> / <button class="btn btn-danger"> Eliminar</button></td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-info" style="float: right;" href="/create-billboard">Crear</a>
</div>