<div class="container mt-5">
    <div class="row">
        <div class="col-md-5 mx-auto">

            <div id="first">
                <div class="myform form ">
                    <div class="logo mb-3">
                        <div class="col-md-12 text-center">

                            <h2>Editar Película</h2>
                        </div>
                    </div>
                    <form action="#" name="registration">

                        <div class="row">
                            <div class="form-group col-6">
                                <label for="exampleInputEmail1">Título </label>
                                <input type="text" name="MovieTittle" class="form-control" id="MovieTittle" placeholder="Título de la película">

                            </div>
                            <div class="form-group col-6">
                                <label for="exampleInputEmail1">Genero: </label>
                                <select name="Gender" class="form-control">
                                <option value ="1">Terror</option>
                                <option value ="2">Acción</option>
                                <option value ="3">Comedia</option>
                                <option value ="4">Drama</option>
                              </select>
                            </div>
                        </div>

                        <div class="row">

                            <div class="form-group col-6">
                                <label>Idioma:</label>
                                <select name="Language" class="form-control">
                            <option value ="1">Español</option>
                            <option value ="2">Inglés</option>
                            <option value ="3">Inglés - Subtitulos</option>
                          </select>
                            </div>
                            <div class="form-group col-6">
                                <label>Duración: </label>
                                <input type="time" name="Duration" class="form-control" id="Duration" placeholder="Enter document number">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Directed By:</label>
                            <select name="Language" class="form-control">
                            <option value ="1">Francis Ford Coppola</option>
                            <option value ="2">Steven Spielberg</option>
                            <option value ="3">Quentin Tarantino</option>
                            <option value ="4">Billy Wilder</option>
                            <option value ="5">Howard Hawks</option>
                            <option value ="6">Alfred Hitchcock</option>
                          </select>

                        </div>
                        <div class="row">
                            <div class="form-group">

                                <label for="exampleInputEmail1">Sinopsis:</label>
                                <textarea type="text" name="Sinopsis" id="Sinopsis" class="form-control" placeholder="Sinopsis">
                                </textarea>

                            </div>


                            <div class="col-md-12 text-center mb-3">
                                <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm mt-4">Editar Película</button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>