<div class="container mt-5">
    <div class="row">
        <div class="col-md-5 mx-auto">

            <div id="first">
                <div class="myform form ">
                    <div class="logo mb-3">
                        <div class="col-md-12 text-center">

                            <h2>Editar Película</h2>
                        </div>
                    </div>
                    <form action="#" name="registration">

                        <div class="row">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Id:</label>
                                <input type="number" name="Id" id="Id" readonly="readonly" [(ngModel)]="peliculaNueva.id" class="form-control" placeholder="0">
                            </div>
                        </div> 

                        <div class="row">
                            <div class="form-group col-6">
                                <label for="exampleInputEmail1">Título </label>
                                <input type="text" name="MovieTittle" [(ngModel)]="peliculaNueva.titulo" class="form-control" id="MovieTittle"
                                    placeholder="Título de la película">

                            </div>
                            <div class="form-group col-6">
                                <label for="exampleInputEmail1">Genero: </label>
                                <select [(ngModel)]="peliculaNueva.genero_id"  name="Gender" class="form-control">
                                    <option *ngFor="let g of generos" [ngValue]="g.id">{{g.nombre}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">

                            <div class="form-group col-6">
                                <label>Idioma:</label>
                                <select name="Language" [(ngModel)]="peliculaNueva.idioma" class="form-control">
                                    <option *ngFor="let c of idiomas" [ngValue]="c">{{c}}</option>
                                </select>
                            </div>
                            <div class="form-group col-6">
                                <label>Duración: </label>
                                <input type="time" [(ngModel)]="peliculaNueva.duracion" name="Duration" class="form-control" id="Duration" placeholder="Enter document number">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Sinopsis:</label>
                                <textarea type="text" name="Sinopsis" [(ngModel)]="peliculaNueva.sinopsis" id="Sinopsis" class="form-control" placeholder="Sinopsis">
                                </textarea>
                            </div>

                        </div>

                        <div class="row">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Url:</label>
                                <input type="text" name="Url" id="Url" [(ngModel)]="peliculaNueva.urlImagen" class="form-control" placeholder="Url">
                            </div>
                        </div> 

                        <div class="col-md-12 text-center mb-3">
                            <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm mt-4" (click)="editarPelicula()" >Editar
                                Película</button>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>