<div class="container mt-5">
  <div class="row">
    <div class="col-md-5 mx-auto myform">
      <div class="col-md-12 text-center">
        <h2>Buscar Película</h2>
      </div>
        <input
          class="form-control me-2"
          value=""
          (keyup)='changeFilters()'
          placeholder="Buscar Película"
          matInput
          [(ngModel)]="filters"
        />
      <div class="row" >
        <div class="card mb-3 col-6 mt-5" style="max-width: 540px" *ngFor="let pelicula of peliculas">
          <div class="row g-0" >
            <div class="col-md-4">
              <img
                src="{{pelicula.urlImagen}}"
                class="img-fluid rounded-start"
                alt="{{pelicula.urlImagen}}"
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h2>{{pelicula.titulo}}</h2>
                <p class="card-text">
                    <small class="text-muted">Idioma: {{pelicula.idioma}} --- Duración: {{pelicula.duracion}}</small>
                </p>
                <p class="card-text">
                  {{pelicula.sinopsis}}
                </p>
                
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
