<div class="container mt-5">
    <div class="logo mb-3">
        <div class="col-md-12">

            <h2 style="color:orangered">Cartelera</h2>
        </div>
    </div>
    <table class="table">
        <thead class="table-header" style="background-color:whitesmoke">
            <tr style="color:gray">
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Fecha Estreno</th>
                <th scope="col">Sala</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr style="color:whitesmoke">
                <th scope="row">1</th>
                <td>Los Juegos Del Hambre</td>
                <td>2015/10/05</td>
                <td>05</td>
                <td><button class="btn btn-success"> Editar</button> / <button class="btn btn-danger"> Eliminar</button></td>
            </tr>
            <tr style="color:whitesmoke">
                <th scope="row">2</th>
                <td>Los Vengadores</td>
                <td>2012/03/15</td>
                <td>01</td>
                <td><button class="btn btn-success"> Editar</button> / <button class="btn btn-danger"> Eliminar</button></td>
            </tr>
            <tr style="color:whitesmoke">
                <th scope="row">3</th>
                <td>La casa del Terror</td>
                <td>2021/02/05</td>
                <td>10</td>
                <td><button class="btn btn-success"> Editar</button> / <button class="btn btn-danger"> Eliminar</button></td>
            </tr>
            <tr style="color:whitesmoke">
                <th scope="row">3</th>
                <td>Harry Potter</td>
                <td>2004/02/05</td>
                <td>02</td>
                <td><button class="btn btn-success"> Editar</button> / <button class="btn btn-danger"> Eliminar</button></td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-info" style="float: right;" href="/create-billboard">Crear</a>
</div>