<div class="container mt-5">
    <div class="logo mb-3">
        <div class="col-md-12">

            <h2 style="color:orangered">Horarios</h2>
        </div>
    </div>
    <table class="table">
        <thead class="table-header" style="background-color:whitesmoke">
            <tr style="color:gray">
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Hora Inicial</th>
                <th scope="col">Hora Final</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr style="color:whitesmoke">
                <th scope="row">1</th>
                <td>Los Juegos Del Hambre</td>
                <td>02:00 PM</td>
                <td>04:15 PM</td>
                <td><button class="btn btn-success"> Editar</button> / <button class="btn btn-danger"> Eliminar</button></td>
            </tr>
            <tr style="color:whitesmoke">
                <th scope="row">2</th>
                <td>Los Vengadores</td>
                <td>06:00 PM</td>
                <td>08:15 PM</td>
                <td><button class="btn btn-success"> Editar</button> / <button class="btn btn-danger"> Eliminar</button></td>
            </tr>
            <tr style="color:whitesmoke">
                <th scope="row">3</th>
                <td>La casa del Terror</td>
                <td>08:00 PM</td>
                <td>10:15 PM</td>
                <td><button class="btn btn-success"> Editar</button> / <button class="btn btn-danger"> Eliminar</button></td>
            </tr>
            <tr style="color:whitesmoke">
                <th scope="row">3</th>
                <td>Harry Potter</td>
                <td>09:00 PM</td>
                <td>11:15 PM</td>
                <td><button class="btn btn-success"> Editar</button> / <button class="btn btn-danger"> Eliminar</button></td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-info" style="float: right;" href="/create-billboard">Crear</a>
</div>