<div class="container mt-5">
    <div class="logo mb-3">
        <div class="col-md-12">

            <h2 style="color:orangered">Lista de Películas</h2>
        </div>
    </div>
    <table class="table">
        <thead class="table-header" style="background-color:whitesmoke">
            <tr style="color:gray">
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Genero</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr style="color:whitesmoke" *ngFor="let pelicula of peliculas;">
                <th scope="row">{{pelicula.id}}</th>
                <td>
                    <img src="{{pelicula.urlImagen}}" height="40">
                </td>
                <td>{{pelicula.titulo}}</td>
                <td><button class="btn btn-success btn-sm" (click)="editMovi(pelicula)"> Editar</button> /
                    <button class="btn btn-danger btn-sm" (click)="deleteMovi(pelicula)" > Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-info" style="float: right;" href="/create-movie">Crear película</a>
</div>