<div class="container mt-5">
    <div class="logo mb-3">
        <div class="col-md-12">

            <h2 style="color:orangered">Lista de Películas</h2>
        </div>
    </div>
    <table class="table">
        <thead class="table-header" style="background-color:whitesmoke">
            <tr style="color:gray">
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Genero</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr style="color:whitesmoke">
                <th scope="row">1</th>
                <td>Los Juegos Del Hambre</td>
                <td>Acción</td>
                <td><button class="btn btn-success"> Editar</button> / <button class="btn btn-danger"> Eliminar</button></td>
            </tr>
            <tr style="color:whitesmoke">
                <th scope="row">2</th>
                <td>Los Vengadores</td>
                <td>Acción</td>
                <td><button class="btn btn-success"> Editar</button> / <button class="btn btn-danger"> Eliminar</button></td>
            </tr>
            <tr style="color:whitesmoke">
                <th scope="row">3</th>
                <td>La casa del Terror</td>
                <td>Terror</td>
                <td><button class="btn btn-success"> Editar</button> / <button class="btn btn-danger"> Eliminar</button></td>
            </tr>
            <tr style="color:whitesmoke">
                <th scope="row">3</th>
                <td>Harry Potter</td>
                <td>Fantasía</td>
                <td><button class="btn btn-success"> Editar</button> / <button class="btn btn-danger"> Eliminar</button></td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-info" style="float: right;" href="/create-movie">Crear película</a>
</div>