<div class="container mt-5">
    <div class="row">
        <div class="col-md-5 mx-auto myform">
            <div class="col-md-12 text-center">
                <h2>Horarios Película</h2>
            </div>

            <div class="row">

                <div class="card mb-3 mt-5">
                    <div class="row g-0 ">
                        <div class="col-md-3 ">
                            <h4 class="card-title ">Título</h4>
                            <img src="./assets/images/movies/coco.png " alt="... ">
                        </div>
                        <div class="col-md-8 ">
                            <div class="card-body ">
                                <label for="exampleInputEmail1">Sinopsis:</label>
                                <textarea type="text" name="Sinopsis" id="Sinopsis" class="form-control" placeholder="Sinopsis">
                              </textarea>
                                <p>Horarios: </p>
                                <div>
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td><input type="checkbox" class="btn-check" id="btn-check-2" checked autocomplete="off">
                                                    <label class="btn btn-success" for="btn-check-2">10:00 AM</label></td>
                                                <td>
                                                    <input type="checkbox" class="btn-check" id="btn-check-2" checked autocomplete="off">
                                                    <label class="btn btn-success" for="btn-check-2"> 12:00 PM </label>
                                                </td>
                                                <td>
                                                    <input type="checkbox" class="btn-check" id="btn-check-2" checked autocomplete="off">
                                                    <label class="btn btn-success" for="btn-check-2">02:00 PM</label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><input type="checkbox" class="btn-check" id="btn-check-2" checked autocomplete="off">
                                                    <label class="btn btn-success" for="btn-check-2">04:00 PM</label></td>
                                                <td>
                                                    <input type="checkbox" class="btn-check" id="btn-check-2" checked autocomplete="off">
                                                    <label class="btn btn-success" for="btn-check-2">06:00 PM</label></td>
                                                <td>
                                                    <input type="checkbox" class="btn-check" id="btn-check-2" checked autocomplete="off">
                                                    <label class="btn btn-success" for="btn-check-2">08:00 PM</label>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td><input type="checkbox" class="btn-check" id="btn-check-2" checked autocomplete="off">
                                                    <label class="btn btn-success" for="btn-check-2">09:00 PM</label></td>
                                                <td><input type="checkbox" class="btn-check" id="btn-check-2" checked autocomplete="off">
                                                    <label class="btn btn-success" for="btn-check-2">10:00 PM</label></td>
                                                <td><input type="checkbox" class="btn-check" id="btn-check-2" checked autocomplete="off">
                                                    <label class="btn btn-success" for="btn-check-2">11:00 PM</label></td>

                                            </tr>
                                        </tbody>
                                    </table>
                                    <p class="clasificacion">
                                        <label>:Calificación</label>
                                    </p>
                                    <form>

                                        <p class="clasificacion">
                                            <input id="radio1" type="radio" name="estrellas" value="5">
                                            <!--
                                        --><label for="radio1">★</label>
                                            <!--
                                        --><input id="radio2" type="radio" name="estrellas" value="4">
                                            <!--
                                        --><label for="radio2">★</label>
                                            <!--
                                        --><input id="radio3" type="radio" name="estrellas" value="3">
                                            <!--
                                        --><label for="radio3">★</label>
                                            <!--
                                        --><input id="radio4" type="radio" name="estrellas" value="2">
                                            <!--
                                        --><label for="radio4">★</label>
                                            <!--
                                        --><input id="radio5" type="radio" name="estrellas" value="1">
                                            <!--
                                        --><label for="radio5">★</label>
                                        </p>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>